#!/usr/bin/make -f

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see ENVIRONMENT in dpkg-buildflags(1)
export DEB_CXXFLAGS_MAINT_APPEND  = -Wall -Wextra -Werror -pedantic

# main packaging script based on dh7 syntax
%:
	dh $@ --parallel

# Add additional CMake parameters
override_dh_auto_configure:
	dh_auto_configure -- \
	-DBUILD_SHARED_LIBS=ON \
	-DGEOMETRY_BUILD_TESTS=ON
